{% extends 'base.html'%} {% import "bootstrap/wtf.html" as wtf %} {% block content %}
<div class="container-fluid">
    {{wtf.quick_form(category_form)}}
</div>
<div class="container">
    {% for item in pitch %}
    <p><span><img src="https://png.icons8.com/windows/50/1abc9c/administrator-male.png"></span>{{item.user}}</p>
    <p><span><img src="https://png.icons8.com/dotty/50/EC1A61/tag-window.png"></span>{{item.pitch_title}}</p>
    <p><span><img src="https://png.icons8.com/dotty/50/011896/category.png"></span>{{item.category}}</p>
    <p><span><img src="https://png.icons8.com/ios/50/F9254E/watch-filled.png"></span>{{item.posted}}</p>
    <button class="btn btn-primary" type="button">
        <a class="comment" href="/comment/sports">Comment </a><span class="badge"><span class="glyphicon glyphicon-comment"></span></span>
    </button>
    {% endfor%}
</div>
{% endblock %}